<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Golden Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>URL SHORTENER</h1>
    <header>
        <div class="container">
            <nav>
                <ul>
                    {% if request.path == '/' %}
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% else %}
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% endif %}
                    {% if 'user_id' in session %}
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container2">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer">
            <span>
                <p>&copy; Created by Suprava Mishra 2024</p>
            </span>
        </div>
    </footer>
</body>
</html>
