{% extends 'base.html' %}

{% block title %}Dashboard - URL Shortener{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% block content %}
<div class="container1">
    <h2>Welcome, {{ user.username }}</h2>
    <h3>Your Shortened URLs:</h3>
    <ul>
        {% for url in urls %}
        <li><a href="{{ url.short_url }}">{{ url.short_url }}</a> - Clicks: {{ url.click_count }}</li>
        {% endfor %}
    </ul>
    <h3>Shorten a New URL:</h3>
    <form action="{{ url_for('shorten_url') }}" method="POST">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Shorten</button>
    </form>
    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
{% endblock %}
